h1, h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
}

.bunchofbananas {
    width: auto;
    height: 110px;
    border-radius: 10px;
    margin-right: 10px;
}

.bananasuicide {
    width: auto;
    height: 200px;
    float: right;
    border-radius: 20px;
    border-width: 20px;
    border-color: red;
}
.navbar {
    display: flex;
    background-color: #1f2937;
}

.navbartitle {
    display:flex
}

.navbarlinks {
    float: right;
    display:flex
}

.info {
    display:flex
    
}

button {
    color: white;
    background-color: lightskyblue;
    border-radius: 10px;
    border-color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    cursor: pointer;
}

button:hover {
    background-color: rgb(86, 130, 158)
}

.ways {
    text-align: center;
}

.steps {
    display: flex;
}

.stepImages {
    width: auto;
    height: 200px;
    border-radius: 20px;
}

.quote {
    text-align: center;
    background-color: rgb(194, 194, 194);
    padding: 20px;
}

.name {
    text-align: end;
    background-color: rgb(194, 194, 194);
}

.bananaNewsletters {
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    border-color: black;
}

.newsletterButton {
    color:aliceblue;
}