.bunchofbananas {
    width: auto;
    height: 110px;
    border-radius: 10px;
    margin-right: 10px;
}

.bananasuicide {
    width: auto;
    height: 200px;
    float: right;
    border-radius: 20px;
    border-width: 20px;
    border-color: red;
}
.navbar {
    display: flex;
    background-color: #1f2937;
}

.navbartitle {
    display:flex
}

.navbarlinks {
    float: right;
    display:flex
}

.info {
    display:flex
    
}

button {
    background-color: aqua;
}

.ways {
    text-align: center;
}

.steps {
    display: flex;
}

.stepImages {
    width: auto;
    height: 200px;
    border-radius: 20px;
}

.quote {
    text-align: center;
}

.name {
    text-align: end;
}

.bananaNewsletters {
    display: flex;
}

.newsletterButton {
    color:aliceblue;
}