body {
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;;
}

a {
    text-decoration: none;
    color: lightgray;
}

a:hover {
    text-decoration: underline;
}

.bunchofbananas {
    width: auto;
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
}

.bananasuicide {
    width: auto;
    height: 300px;
    border: 5px solid white;
    border-radius: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

.navbartitle {
    display:flex
}

.navbarlinks, h3 {
   display:flex;
   font-weight: normal;
}

.info {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.infoTitle {
    font-size: 3rem;
}

.infoText {
    display: flex;
    padding-right: 20px;
    font-weight: normal;
    color: lightgrey;
}

button {
    color: white;
    background-color: rgb(56,130,246);
    border-radius: 10px;
    border: 3px solid white;
    border-color: white;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: small;
    cursor: pointer;
}

button:hover {
    background-color: rgba(64,108,188);
}

.ways {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.steps {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding-bottom: 20px;
}

.stepItem {
    max-width: 200px;
}

.steps h3 {
    font-weight: normal;
    flex-wrap: wrap;
}

.steps img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 5px solid rgb(56,130,246);
}

.quote {
    background-color: rgb(230, 230, 230);
    padding: 10px;
}

.text {
    text-align: center;
    font-size: 2.2rem;
    font-weight: normal;
}

.name {
    text-align: end;
    padding-right: 350px;
}

.bananaNewsletters {
    display: flex;
    justify-content: center;
    background-color: rgb(56,130,246);
    color: white;
    border-radius: 20px;
    padding: 50px;
    margin: 80px;
}

.newsletterText {
    max-width: 300px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    padding-right: 20px;
}

.disclaimer {
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: lightgray;
    background-color: #1f2937;
    padding: 20px;
    margin-bottom: 0;
}